
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF69B4;
    font-family: 'Poppins', sans-serif;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.header_text1 {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gif_container img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
